body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  background: linear-gradient(to bottom right, #60a5fa, #3b82f6);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 2rem;
  min-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.condition {
  text-transform: capitalize;
}

.temperature {
  font-size: 3.5rem;
  font-weight: bold;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.forecast {
  background-color: #fff;
}

.city {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.forecast-days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-day {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.forecast-details {
  display: flex;
  gap: 1rem;
}

.waves {
  position:relative;
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  margin-bottom: -1.5rem;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}