/* Main */
body {
  font-family: 'Glacial Indifference', 'Futura', sans-serif;

  min-height: 100vh;
  background: #ffcc00;
  display: flex;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wrapper {
  background: #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  min-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Form */
form {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px auto;
  padding: 2px;
  border-radius: 100px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 225px;
}

.search-input {
  flex: 1;
  font-size: 10px;
  text-align: center;
  margin-right: 29px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px 0 0 5px;
  background-color: rgba(255, 255, 255, 0.2); 
  outline: none;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Weather Details */
.location {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.update {
  font-size: 0.7rem;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5); 
}

.weather-simple {
  display: flex;
  justify-content: center;
  align-items: center;
}
.temperature {
  margin: 0
}
.weather-details {
  display: flex;
  flex-direction: column;
}
.temperature {
  font-size: 5rem;
  font-weight: bold;
}
.weather-details {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 100px;
}
.condition {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}
.min-max-temp {
  font-size: 0.8rem;
  margin: 0;
}

/* Weather Condition */
.condition-img {
  width: 50vw;
  margin: 50px;
}

/* Weather Other Details */
.other-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detail h3 {
  font-size: 1.1rem;
  margin: 0;
}
.detail p {
  font-size: 0.7rem;
  margin: 0;
}

/* Separator */
.separator {
  display: flex;
  justify-content: center;
  max-width: 60vw;
  border-bottom: 10px solid #000 ;
}

/* Weather Forecasts */
.forecast {
  display: flex;
  justify-content: center;
}
.forecast-days {
  display: flex;
  width: 60vw;
  flex-direction: column;
}
.forecast-day {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.forecast p {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.forecast img {
  width: 5vw;
}
.forecast-details {
  display: flex;
  gap: 1rem;
}